---
import Spotlight from '../Spotlight.astro'
---

<Spotlight
    title="Take on a new persona"
    description="Become someone entirely new with real-time face swap technology powered by DeepFaceLab"
>
    <div class="face-swap-preview">
        <section class="face-swap-choices">
            <img src="/images/Bryan_Greynolds.jpeg" width="140" height="180" />
            <img src="/images/Ewon_Spice.jpeg" width="140" height="180" />
            <img src="/images/Kim_Jarrey.jpeg" width="140" height="180" />
            <img src="/images/Tim_Chrys.jpeg" width="140" height="180" />
        </section>
        <video
            autoplay
            loop
            src="https://r2.facade.gg/samples/man-talking-video-call-living-room/Anna_Tolipova.mp4"
        />
    </div>
</Spotlight>
<style>
    video {
        aspect-ratio: 1280 / 720;
        border-radius: 12px;
        overflow: hidden;
        width: calc(90vw - 2rem);
    }
    @media (min-width: 768px) {
        video {
            height: calc(555px * 720 / 1280);
            width: 555px;
        }
    }

    .face-swap-preview {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        gap: 0.75em;
    }
    .face-swap-choices {
        border-radius: 12px;
        display: flex;
        gap: 12px;
        max-height: 320px;
        max-width: 100vw;
        overflow: scroll;
    }
    .face-swap-choices > img {
        border-radius: 12px;
    }
    @media (min-width: 768px) {
        .face-swap-preview {
            flex-direction: row;
        }
        .face-swap-choices {
            flex-direction: column;
        }
    }
</style>
