<div class="stars stars-1"></div>
<div class="stars stars-2"></div>
<div class="stars stars-3"></div>
<div class="stars stars-4"></div>
<style>
    .stars {
        border-radius: 2px;
        left: 0;
        height: 2px;
        position: absolute;
        top: 0;
        width: 2px;
        z-index: -2;
    }

    .stars-1 {
        animation: stars 300s ease infinite,
        sparkle 25s ease infinite;
        box-shadow: calc(50vw - 088px) 303px #a4ceb1,
        calc(50vw - 047px) 301px #a4ceb1,
        calc(50vw + 261px) 439px #a4ceb1,
        calc(50vw + 334px) 322px #a4ceb1,
        calc(50vw + 099px) 440px #a4ceb1,
        calc(50vw - 380px) 280px #a4ceb1,
        calc(50vw - 332px) 463px #a4ceb1,
        calc(50vw + 399px) 365px #a4ceb1,
        calc(50vw - 305px) 170px #a4ceb1;
    }

    .stars-2 {
        animation: sparkle 12s ease infinite;
        box-shadow: calc(50vw - 029px) 169px #a4ceb1,
        calc(50vw - 097px) 344px #a4ceb1,
        calc(50vw + 202px) 299px #a4ceb1,
        calc(50vw - 051px) 369px #a4ceb1,
        calc(50vw + 180px) 368px #a4ceb1,
        calc(50vw + 308px) 461px #a4ceb1,
        calc(50vw + 129px) 152px #a4ceb1,
        calc(50vw - 293px) 437px #a4ceb1;
    }

    .stars-3 {
        animation: sparkle 40s ease-in-out infinite;
        box-shadow: calc(50vw - 156px) 275px #a4ceb1,
        calc(50vw - 223px) 416px #a4ceb1,
        calc(50vw + 376px) 135px #a4ceb1,
        calc(50vw - 310px) 482px #a4ceb1,
        calc(50vw + 415px) 362px #a4ceb1,
        calc(50vw + 233px) 421px #a4ceb1,
        calc(50vw + 49px) 156px #a4ceb1,
        calc(50vw - 409px) 408px #a4ceb1;
    }

    .stars-4 {
        animation: sparkle 30s ease-in-out infinite;
        box-shadow: calc(50vw + 181px) 287px #a4ceb1,
        calc(50vw + 420px) 176px #a4ceb1,
        calc(50vw - 413px) 384px #a4ceb1,
        calc(50vw - 374px) 129px #a4ceb1,
        calc(50vw + 345px) 248px #a4ceb1,
        calc(50vw + 108px) 319px #a4ceb1,
        calc(50vw - 288px) 458px #a4ceb1,
        calc(50vw - 40px) 182px #a4ceb1;
    }
</style>
