<div class="grid">
    <div class="x"></div>
    <div class="x"></div>
    <div class="x"></div>
    <div class="x"></div>
    <div class="x"></div>
    <div class="x"></div>
    <div class="x"></div>
    <div class="x"></div>
    <div class="x"></div>
    <div class="x"></div>

    <div class="y"></div>
    <div class="y"></div>
    <div class="y"></div>
    <div class="y"></div>
    <div class="y"></div>
    <div class="y"></div>
    <div class="y"></div>
    <div class="y"></div>
    <div class="y"></div>
    <div class="y"></div>
</div>
<style>
    .grid {
        aspect-ratio: 1;
        left: 50%;
        max-width: 60rem;
        position: absolute;
        top: 400px;
        transform: translateX(-50%);
        width: 100%;
        z-index: -1;
    }
    @media (min-width: 992px) {
        .grid > .x:nth-child(n + 5) {
            display: none;
        }
    }

    .grid > * {
        background: rgba(40, 40, 40, .87);
        position: absolute;
    }

    .grid > .x {
        height: 1px;
        width: 100%;
    }
    .grid > .x:nth-child(1) {
        display: none;
    }
    .grid > .x:nth-child(2) {
        top: 10%;
    }
    .grid > .x:nth-child(3) {
        top: 20%;
    }
    .grid > .x:nth-child(4) {
        top: 30%;
    }
    .grid > .x:nth-child(5) {
        top: 40%;
    }
    .grid > .x:nth-child(6) {
        top: 50%;
    }
    .grid > .x:nth-child(7) {
        top: 60%;
    }
    .grid > .x:nth-child(8) {
        top: 70%;
    }
    .grid > .x:nth-child(9) {
        top: 80%;
    }
    .grid > .x:nth-child(10) {
        top: 90%;
    }

    .grid > .y {
        height: 100%;
        width: 1px;
    }
    @media (min-width: 992px) {
        .grid > .y {
            height: 50%;
        }
    }
    .grid > .y:nth-child(11) {
        display: none;
    }
    .grid > .y:nth-child(12) {
        left: 10%;
    }
    .grid > .y:nth-child(13) {
        left: 20%;
    }
    .grid > .y:nth-child(14) {
        left: 30%;
    }
    .grid > .y:nth-child(15) {
        left: 40%;
    }
    .grid > .y:nth-child(16) {
        left: 50%;
    }
    .grid > .y:nth-child(17) {
        left: 60%;
    }
    .grid > .y:nth-child(18) {
        left: 70%;
    }
    .grid > .y:nth-child(19) {
        left: 80%;
    }
    .grid > .y:nth-child(20) {
        left: 90%;
    }
</style>
